/*CSS ACTIVITY*/


/* Master Background */
.page {background-color:white; 
	width:80%; 
	margin:auto;
	overflow:visible; }

/* Main-Header Section */
.main-header {display: flex;
	      justify-content: space-between;
	      align-items: center;
	      padding: 10px;
	      background-color:white;
	      margin: 0;}

.header-left {display: flex;
	      align-items: center;
	      gap: 20px;}

.logo {width: 80px;
       height: auto;}

.title {font-family: "Copperplate", serif;
   	position:relative;
  	left:70px;
  	font-size: 30px;
  	line-height: 1.2;}

.social-sites {display: flex;
  	       gap: 10px;
  	       list-style: none;
  	       position:relative;
  	       left:300px;
  	       padding: 10px;
	       margin: 0;}

.social-sites li {display: flex;}



/* Navigation Bar */
nav {display: block;
     width: 100%;
     background-color: #b3d9ff;
     z-index: 1000;}

.nav-main {background-color:#b3d9ff;
	position: sticky;   
	   top: 0;
           margin-top: 0;
  	   margin-bottom: 0;
  	   text-align: center;
  	   z-index: 1000;}

.nav-main li {border-left: 1px solid #b3d9ff;
	      display: inline-block;
  	      text-align: left;}

.nav-main li:first-child {border-left: none;}

.nav-main li:last-child a {padding-right: 0;}

.nav-main a {color: #292929;
             display: inline-block;
	     font-family: copperplate;
	     font-weight: bold;
             font-size:18px;
             padding: 15px;
	     text-decoration: none;}

.nav-main a:hover {color: white;
                   text-decoration: none;}

/*MAIN*/
.highlight-section {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.highlight-section h2 {
  font-size: 2em;
  color: #0073e6;
  margin-bottom: 30px;
}

.highlight-grid {
  flex-direction: column;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.highlight-item {
  background: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.highlight-item:hover {
  transform: scale(1.03);
}

.highlight-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.caption {
  padding: 15px;
  text-align: left;
}

.caption p {
  margin: 0;
  font-size: 0.9em;
  color: #666;
}

.caption h3 {
  font-size: 1.1em;
  color: #333;
  margin-top: 5px;
}

.button {
  display: inline-block;
  background-color: #b3d9ff;
  color: black;
  padding: 0.5em 1em; /* Smaller padding = smaller button */
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin:10px auto; /* Center horizontally + space at bottom */
  width: fit-content; /* Auto width based on content */
}



/* Main-Footer Section */
.main-footer {background-color:#b3d9ff;
	clear:both;
	text-align:center;
	padding:5px;
	}